<%= form_for @staff do |f| %>
  <%= render 'errors' %>

  <p>
    <%= f.label :pod %><br>
    <%= f.text_field :pod %>
  </p>

  <p>
    <%= f.label :started_at_company %><br>
    <%= f.date_field :started_at_company  %>
  </p>

  <%= f.select :person_id, Person.all.collect { |p| [ p.first_name, p.id ] }  %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
