<h1>Staff</h1>

<%= link_to 'New Staff', new_staff_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pod</th>
      <th>Time With Stembolt</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @staff.each do |staff_member| %>
      <tr>
        <td><%= staff_member.person.first_name + ' ' + staff_member.person.last_name %></td>
        <td><%= staff_member.pod %></td>
        <td><%= "#{staff_member.time_at_company[:days]} days, #{staff_member.time_at_company[:hours]} hours" %></td>
        <td>
          <%= link_to 'Show', staff_path(staff_member) %>
          <%= link_to 'Edit', edit_staff_path(staff_member) %>
          <%= link_to 'Delete', staff_path(staff_member),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
