<h1>Staff Member</h1>

<dl>
  <dt>Name</dt>
  <dd><%= "#{@person.first_name} #{@person.last_name}" %></dd>

  <dt>Pod</dt>
  <dd><%= @staff.pod %></dd>

  <dt>Started At Company</dt>
  <dd><%= @staff.started_at_company %> &mdash; <%= "#{@staff.time_at_company[:days]} days, #{@staff.time_at_company[:hours]}, hours" %></dd>
</dl>

<%= link_to 'Back', staff_index_path %>
