<h1>Editing Staff Member</h1>

<%= form_for :staff_member, url: staff_member_path(@staff_member), method: :patch do |f| %>

  <% if @staff_member.errors.any? %>
    <div class="error_explanation">
      <h2>
        <%= pluralise(@staff_member.errors.count, "error") %>
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @staff_member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', staff_members_path %>
